/* line 1, ../../app/stylesheets/main.sass */
body {
  font-family: Helvetica Neue, arial, helvetica, sans-serif;
  font-size: 1em;
  color: #333333;
  background-color: #e5eaf1;
}

/* line 7, ../../app/stylesheets/main.sass */
.container {
  position: relative;
  width: 950px;
  margin: 0 auto;
  background-color: #ededed;
  padding-bottom: 25px;
  border: solid 1px #bdbdbd;
}

/* line 15, ../../app/stylesheets/main.sass */
ul, ol {
  list-style: none;
}

/* line 18, ../../app/stylesheets/main.sass */
img {
  height: 48px;
  width: 48px;
}

/* line 22, ../../app/stylesheets/main.sass */
a {
  color: #333333;
  text-decoration: none;
  outline: none;
}

/* line 27, ../../app/stylesheets/main.sass */
#header {
  padding-top: 40px;
  margin: 0 0 45px 45px;
  color: #666666;
  font-weight: bold;
  font-size: 1.75em;
}

/* line 35, ../../app/stylesheets/main.sass */
.favs {
  position: relative;
  margin-bottom: 30px;
}

/* line 39, ../../app/stylesheets/main.sass */
.techpeep {
  position: relative;
  left: 0px;
  width: 165px;
  height: 100px;
  text-align: right;
  padding: 30px 25px 0 0;
}

/* line 47, ../../app/stylesheets/main.sass */
.favorite {
  background-color: #e5eaf1;
  position: absolute;
  top: 0px;
  right: 87px;
  width: 650px;
  height: 100px;
  border: solid 1px #b4bbcd;
  padding: 20px 0 10px 20px;
}
/* line 56, ../../app/stylesheets/main.sass */
.favorite .username {
  position: absolute;
  top: 24px;
  left: 80px;
}

/* line 61, ../../app/stylesheets/main.sass */
.username {
  margin-top: 5px;
  font-weight: bold;
  font-size: 0.88em;
}

/* line 67, ../../app/stylesheets/main.sass */
.tweet {
  padding-top: 10px;
  width: 600px;
}

/* line 71, ../../app/stylesheets/main.sass */
.link {
  color: #1d4088;
}

/* line 74, ../../app/stylesheets/main.sass */
.link:hover {
  text-decoration: underline;
}

/* line 77, ../../app/stylesheets/main.sass */
#footer {
  width: 950px;
  text-align: center;
  font-size: 0.75em;
  margin-top: 45px;
  color: #999999;
}
