body
  font-family: Helvetica Neue, arial, helvetica, sans-serif
  font-size: 1em
  color: #333333

.container
  position: relative
  width: 950px
  margin: 0 auto
  background-color: #ededed
  padding-bottom: 25px

ul, ol 
  list-style: none

img 
  height: 48px
  width: 48px

a 
  color: #333333
  text-decoration: none
  outline: none

#header
  padding-top: 40px
  margin: 0 0 45px 45px
  font:
    weight: bold
    size: 1.45em

.favs
  position: relative
  margin-bottom: 30px

.techpeep
  position: relative
  left: 0px
  width: 165px
  height: 100px
  text-align: right
  padding: 30px 25px 0 0

.favorite
  background-color: #e5eaf1
  position: absolute
  top: 0px
  right: 87px
  width: 650px
  height: 100px
  border: solid 1px #b4bbcd
  padding: 20px 0 10px 20px
  .username
    position: absolute
    top: 24px
    left: 80px

.username
  margin-top: 5px
  font: 
    weight: bold
    size: 0.88em

.tweet
  padding-top: 10px
  width: 600px

.link
  color: #1d4088

.link:hover 
  text-decoration: underline

#footer
  width: 950px
  text-align: center
  font-size: 0.75em
  margin-top: 45px
  color: #999999
