body 
  font-family: Helvetica Neue, arial, helvetica, sans-serif
  font-size: 1em
  color: #333333

.container
  position: relative
  width: 950px
  margin: 0 auto

ul, ol 
  list-style: none

img 
  height: 48px
  width: 48px

a 
  color: #333333
  text-decoration: none
  outline: none